body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabecera {
    color: green;
    font-size: 28px;
    text-decoration: underline;
    text-align: center;
    border: 2px solid gray;
}

p{
    color: white;
    
}
h2{
    color: white;
    text-align: center;
}

ul li {
    color: white;
}